@page
@using Police.Business.ResistanceResponse.Incidents.Subjects.Animals
@using Police.Business.ResistanceResponse.Incidents.Subjects.People
@model RemoveReportModel
@{
    this.UseModalLayout("Remove Report");
}

<input type="hidden" asp-for="IncidentId" />
<input type="hidden" asp-for="SubjectId" />
<input type="hidden" asp-for="OfficerId" />

<p class="lead">Are you sure you want to remove the following report from this incident?</p>

<bs-form-group>
    <label>Subject</label>
    <p>
        @if (Model.ReportInfo.Subject is SubjectAnimalInfo animalSubject) {
            @:Animal:
            <span class="label label-default">@animalSubject.Species.GetDescription()</span>
        } else if (Model.ReportInfo.Subject is SubjectPersonInfo personSubject) {
            @:Person:
            @:<span class="label label-default">@personSubject.Race.GetDescription() @personSubject.Gender.GetDescription()</span>
            @:<strong>@personSubject.FullName</strong> (Age: @personSubject.Age)
        }
    </p>
</bs-form-group>

<bs-form-group>
    <label>Officer</label>
    <p>
        @Model.ReportInfo.OfficerLastName, @Model.ReportInfo.OfficerFirstName
        (@Model.ReportInfo.OfficerBadgeNumber)
    </p>
</bs-form-group>

@section Button {
    <button bs-context="@ButtonContext.Danger"
            type="submit">
        Remove Report
    </button>
}